@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --h1: 48px;
  --h2: 32px;
  --subtitle: 24px;
  --p: 18px;
  --sub: 16px;
  --primary: #fefefd;
  --secondary: #15151b;
  --secondary-light: #303036;
  --primary-button: #fefe00;
  --secondary-button: #242327;
  --accent: #fdfe00;
}

.legend {
  width: 100% !important;
  left: 0 !important;
  padding: 2em !important;
  margin: 0 !important;
  /* border: 1px solid #fff; */
  bottom: 0 !important;
  border-radius: 0 !important;
  background: none !important;
  opacity: 1 !important;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 20%,
    transparent
  ) !important;
}

.main-carousel .carousel img {
  object-fit: cover !important;
}

.thumbs-wrapper {
  display: none;
}

.carousel-slider {
  object-fit: cover;
}

.flex-row-center {
  flex-direction: row;
}

.flex-col-center {
  flex-direction: column;
}

.flex-row-center,
.flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-active {
  border: 1px solid #20b1a5 !important;
  color: #20b1a5 !important;
}
